# Morgan's Exploratory File

## Step One: Read Data File

In [1]:
import pandas as pd
movie_gross = pd.read_csv("data/bom.movie_gross.csv")
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [13]:
movie_info = pd.read_csv("data/rt.movie_info.tsv", sep='\t')
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [3]:
reviews = pd.read_csv("data/rt.reviews.tsv", encoding='latin-1', sep='\t')
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [4]:
tmdb = pd.read_csv("data/tmdb.movies.csv", index_col = 0)
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [5]:
budgets = pd.read_csv("data/tn.movie_budgets.csv")
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [6]:
budgets['domestic_gross'].value_counts() # finding strings to remove

$0             548
$8,000,000       9
$7,000,000       7
$2,000,000       7
$10,000,000      6
              ...
$26,947,624      1
$3,681,811       1
$11,634,458      1
$5,018,450       1
$27,288,872      1
Name: domestic_gross, Length: 5164, dtype: int64

In [7]:
# removing $ and , from gross revenue and casting as int
budgets['domestic_gross'] = budgets['domestic_gross'].str.replace(",","")
budgets['domestic_gross'] = budgets['domestic_gross'].str.replace("$","")
budgets['domestic_gross'] = pd.to_numeric(budgets['domestic_gross'])

budgets['worldwide_gross'] = budgets['worldwide_gross'].str.replace(",","")
budgets['worldwide_gross'] = budgets['worldwide_gross'].str.replace("$","")
budgets['worldwide_gross'] = pd.to_numeric(budgets['worldwide_gross'])

In [8]:
# removing $ and , from production budget and casting as int
budgets['production_budget'] = budgets['production_budget'].str.replace(",","")
budgets['production_budget'] = budgets['production_budget'].str.replace("$","")
budgets['production_budget'] = pd.to_numeric(budgets['production_budget'])

In [9]:
# calculating total revenue
budgets['total_revenue'] =  budgets['worldwide_gross'] - budgets['production_budget']

In [10]:
budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_revenue
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2351345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-200237650
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,1072413963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,999721747

In [11]:
budgets['movie'] = [movie.title() for movie in budgets['movie']]
tmdb['title'] = [movie.title() for movie in tmdb['title']]

budgets.set_index('movie')
tmdb.set_index('title')

,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
title,,,,,,,,
Harry Potter And The Deathly Hallows: Part 1,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,7.7,10788
How To Train Your Dragon,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,7.7,7610
Iron Man 2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,7.9,10174
Inception,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186
...,...,...,...,...,...,...,...,...
Laboratory Conditions,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,0.0,1
_Exhibit_84Xxx_,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,0.0,1
The Last One,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,0.0,1
Trailer Made,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,0.0,1
The Church,"[53, 27]",309885,en,The Church,0.600,2018-10-05,0.0,1

# Looking into genre as a predictor of total revenue

In [12]:
budgets_and_tmdb = budgets.join(tmdb, how='inner', lsuffix = 'budgets' , rsuffix = 'tmdb')
budgets_and_tmdb.head()

,idbudgets,release_datebudgets,movie,production_budget,domestic_gross,worldwide_gross,total_revenue,genre_ids,idtmdb,original_language,original_title,popularity,release_datetmdb,title,vote_average,vote_count
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2351345279,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter And The Deathly Hallows: Part 1,7.7,10788
1,2,"May 20, 2011",Pirates Of The Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How To Train Your Dragon,7.7,7610
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-200237650,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,4,"May 1, 2015",Avengers: Age Of Ultron,330600000,459005868,1403013963,1072413963,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,5,"Dec 15, 2017",Star Wars Ep. Viii: The Last Jedi,317000000,620181382,1316721747,999721747,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186